$flexy-grid-wrapper-max-width: 978px;
$flexy-body-font-size: 15px;
$flexy-body-line-height: 1.3;
$flexy-theme-colors: (
  default: #3899ec,
  dark: #353535
);
$flexy-block-divider-default-color: darken(#f0f4f7, 10%);
