$flexy-theme-colors: (
        default: #338fff,
        gray: #cae2ef,
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3
) !default;

$flexy-theme-border-radius: 0.28571429rem;
$flexy-theme-border-size: 1px;
$flexy-theme-height: 32px;

$flexy-block-button-border-radius: $flexy-theme-border-radius !default;
$flexy-block-button-background-color: #96a8b2 !default;
$flexy-block-button-outline-width: 2px !default;
$flexy-block-input-border-radius: $flexy-theme-border-radius !default;
$flexy-block-input-placeholder-color: #c8c8c8 !default;
$flexy-block-input-color: #c8c8c8 !default;
$flexy-block-input-focus-color: map-get($flexy-theme-colors, default) !default;
$flexy-block-input-hover-color: darken($flexy-block-input-color, 20%) !default;
$flexy-block-input-icon-check: 'done';
$flexy-block-input-icon-uncheck: '';
$flexy-block-input-icon-font-family: 'Material Icons';
