%code {
  color: #fff;
  background: {
    color: #272c35;
  }
  border: none;
  box-shadow: none;
  border-radius: 2px;
  font-size: 0.95rem;
  font-family: Menlo, Consolas, 'Andale Mono', monospace;
}

.b-content {
  &__pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    @include flexy-rhythm-content;

    hr {
      @extend .b-divider;
      margin: base-spacing(2) 0;
    }

    pre {
      @extend %code;

      padding: 1em;
      overflow-x: auto;

      code {
        padding: 0;
        background: {
          color: transparent;
        }
      }
    }

    .highlight {
      margin: base-spacing() 0;
    }

    code {
      @extend %code;

      padding: 3px;
    }
  }

  &__footer {
    margin-top: 2em;
  }

  &__edit {
    color: flexy-color(text);
    text-decoration: none;
    font-size: 0.95em;

    &:hover {
      color: flexy-color();
    }
  }
}
