.b-content {
  &__pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    @extend .b-typeset;

    h3, h4, h5, h6 {
      border-bottom: 1px solid #f0f4f7;
      margin-bottom: 2rem;
    }

    strong, b {
      font-weight: 600;
    }

    pre {
      color: #fff;
      line-height: 19px;
      font-family: Menlo, Consolas, 'Andale Mono', monospace;
      background: #272c35;
      border-radius: 2px;
      font-size: .95rem;
      padding: 1em;
      border: none;
      box-shadow: none;
    }

    ul, ol {
      margin-left: 2em;
    }

    code {
      background: {
        color: rgba(254, 240, 186, 0.5);
      }
      padding: 3px;
      border-radius: 2px;
      border: none;
      box-shadow: none;
    }
  }

  &__footer {
    margin-top: 2em;
  }

  &__edit {
    color: flexy-color(text);
    text-decoration: none;
    font-size: .95em;

    &:hover {
      color: flexy-color();
    }
  }
}
