.b-header {
  background: {
    color: flexy-color();
  }
  box-shadow: 0 2px 4px rgba(#000, .1);
  color: #fff;
  padding: 1rem 0;
  margin-bottom: 2rem;

  &__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
