.b-menu {
  &__child {
    margin-left: 1em;
  }

  &__caption {
    color: flexy-color(caption);
    font-size: 0.95em;
  }

  &__item {
    &_root {
      margin-bottom: 1em;
    }
  }

  &__link {
    font-size: 0.95em;
    transition: background-color 0.25s ease;
    text-decoration: none;
    color: flexy-color(text);
    display: block;
    padding: 0.2em 0.4em;
    border-radius: $flexy-theme-border-radius;

    &:hover {
      background: {
        color: flexy-color();
      }
      color: #fff;
    }
  }
}
