.b-nav {
  border: {
    width: 1px 0;
    style: solid;
    color: #f0f4f7;
  }
  margin: 1em 0;
  padding: 1em 0;

  &__pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: flexy-color(text);
    font-size: .95em;
  }
}
