.b-site {
  margin-left: 250px;

  &__sidebar {
    background: {
      color: #f0f4f7;
    }
    position: fixed;
    width: 250px;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    background: {
      color: #fff;
    }
    box-sizing: border-box;
    padding: 2em 0;
  }
}
