.b-tag {
  &__label {
    @include antialias(false);
    font-size: .95rem;
    margin-right: .5rem;
    font-weight: normal;
    color: flexy-color(text);
  }

  &__tag {
    @include antialias(false);
    font-weight: normal;
    color: flexy-color();
    font-size: .95rem;
  }
}
