.b-tag {
  &__label {
    @include antialias(false);
    font-size: 0.95rem;
    margin-right: 0.5rem;
    font-weight: normal;
    color: flexy-color(text);
  }

  &__tag {
    @include antialias(false);
    font-weight: normal;
    color: flexy-color();
    font-size: 0.95rem;
  }
}
